@import "../../layouts/mixins.scss";

.all,
.pending,
.completed {
  font-size: 2rem;
  width: 20rem;
  border-radius: 1rem;
  border: 1px solid var(--gray-400);
  border-color: var(--purple-800);
  background-color: var(--gray-600);

  @include smallDeviceSize {
    width: 95%;
    margin: 0.5rem auto;
    font-size: 1.7rem;
  }

  .title {
    font-weight: bold;
    text-align: center;
    background-color: var(--purple-800);
    -webkit-border-radius: 1rem;
  }

  .stat {
    color: var(--gray-300);
    padding: 0 1rem;

    @include smallDeviceSize {
      font-size: 1.6rem;
    }
  }
}
