@import "../_mixins.scss";

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 70rem;
  margin-top: -0.1rem;
  margin-bottom: -1.5rem;
  margin-left: auto;
  margin-right: auto;
  &_add_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    @include smallDeviceSize {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 5px;
      button[id="add_todo"],
      select[id="filter_priority"] {
        width: 100%;
      }
    }
  }

  &_tab_group {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid #bdbdbd;

    @include smallDeviceSize {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 2rem auto;
      border: none;
      button {
        border-bottom: 2px solid #bdbdbd;
        font-size: 1.7rem;
        width: 95%;
      }
    }
  }
}

.relative {
  position: relative;
  width: 100px;
  height: 13rem;
}
.title {
  position: fixed;
  font-family: "Poppins";
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  left: 0;
  right: 0;
  color: var(--gray-300);
  background-color: var(--gray-700);
  padding: 2rem;
}
