@import "../../layouts/mixins.scss";

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
  margin: 1.8rem auto;

  @include smallDeviceSize {
    display: flex;
    flex-direction: column;
  }
}
